<div class="page-header">
	<h1>Contact</h1>
</div>
<div class="well">
	<p>Best to reach out to us on reddit until we have more formal communication channels available.  <a href="http://www.reddit.com/user/bitlytics" target="_blank">/u/bitlytics</a></p>
</div>