<div class="col-md-2">
	<h5 class="col-head"><i class="fa fa-square"></i> News Feed</h5>
</div>
<div class="col-md-2">
	<h5 class="col-head"><i class="fa fa-square"></i> Global Volume</h5>
</div>
<div class="col-md-2">
	<h5 class="col-head"><i class="fa fa-square"></i> Exchanges</h5>
	<ul class="list-unstyled small">
		<li class="row">
			<strong class="col-sm-6">Bitstamp</strong>
			<span class="col-sm-6 text-right" loading-ellipsis="appdata.markets.bitstamp.btc_usd">{{ (appdata.markets.bitstamp.btc_usd | convertToPref:pref.currency | currency:pref.currency.symbol) || 'loading' }}</span>
		</li>
		<li class="row">
			<strong class="col-sm-6">BTC-e</strong>
			<span class="col-sm-6 text-right" loading-ellipsis="appdata.markets.btce.btc_usd">{{ (appdata.markets.btce.btc_usd | convertToPref:pref.currency | currency:pref.currency.symbol) || 'loading' }}</span>
		</li>
		<li class="row">
			<strong class="col-sm-6">Mt Gox</strong>
			<span class="col-sm-6 text-right" loading-ellipsis="appdata.markets.mtgox.btc_usd">{{ (appdata.markets.mtgox.btc_usd | convertToPref:pref.currency | currency:pref.currency.symbol) || 'loading' }}</span>
		</li>
		<li class="row">
			<strong class="col-sm-6">Coinbase</strong>
			<span class="col-sm-6 text-right" loading-ellipsis="appdata.markets.coinbase.btc_usd">{{ (appdata.markets.coinbase.btc_usd | convertToPref:pref.currency | currency:pref.currency.symbol) || 'loading' }}</span>
		</li>
	</ul>
</div>
<div class="col-md-6">
	<h5 class="col-head"><i class="fa fa-square"></i> Charts</h5>
	<div highchart-stockchart chart-data="appdata.markets.coinbase.history" title="BTC/USD (Coinbase)"></div>
</div>