<div class="page-header">
	<h1>How it Works</h1>
</div>
<div class="well">
	<ul>
		<li>We collect lots of crypto market data</li>
		<li>Turn it in to cool graphs and actionable information</li>
		<li>Let you do cool stuff with that information</li>
	</ul>
</div>