<form class="small">
	<div class="form-group">
		<label for="baseCurrency">
			Currency
		</label>
		<select class="form-control" id="baseCurrency" ng-model="pref.currency" ng-options="currency.label for currency in appdata.currencies">
		</select>
	</div>
</form>